
html{
    font-family: 'Inter', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1F1D2C;
}

.header {
    position: relative;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 2em;
    height: 93px;
}

.vector1 {
    position: absolute;
    right: 0;
    height: 437px;
}

.vector1-1{
    position: absolute;
    right: 0;
    visibility: hidden;
}

input#menu-hamburguesa {
    visibility: hidden;
}

input#menu-hamburguesa ~ ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 93px);
    top: 93px;
    right: 100%;
    transition: all 300ms linear;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input#menu-hamburguesa:checked ~ ul {
    right: 0;
}

.menu li{
    list-style: none;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    background-color: #1F1D2C;
    color: #f1a600;
}

.main {
    position: relative;
    margin: 0 auto;
    width: 80vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    align-items: center;
}

h1 { 
    font-size: 50px;
    color: #fff;
    position: relative;
    z-index: 3;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.info-main {
    z-index: 2;
}

.main-text{
    color: #fff;
    font-size: 32px;
    z-index: 2;
    position: relative;
    margin-bottom: 3rem;
}

.span{
    font-size: 25px;
    color:#fff;
}

.años{
    color: #f1a600;
}

.main img {
    position: relative;
    margin-bottom: 5rem;
    width: 300px;
    height: 300px;
    right: 2rem;
    z-index: 1;
}

.icons-main {
    margin-top: 1rem;
    list-style: none;
    display: flex;
    margin-bottom: 2rem;

}

.icons-main li {
    padding: 1rem;
}

.about {
    background-color: #242635;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 32px;
    color: #fff;
}


.about p {
    text-align: center;
    color: #fff;
    padding: 1rem;
}

.icons-aboutme {
    display: grid;
    grid-template-columns: auto auto auto;
    color: #fff;
    gap: 1rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.aboutme-subtitle {
    font-size: 18px;
    font-weight: 600;
}

.empty {
    width: 10rem;
}

.experience {
    background-color: #1F1D2C;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.experience-tittle {
    font-size: 32px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.experience-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 15%;
    margin-right: 24%;
    grid-column-gap: 2rem;
    margin-bottom: 2rem;
}

.vector3 {
    position: absolute;
    right: 7rem;
    top: 30%;
}

.experience-subsection {
    font-size: 18px;
    font-weight: 600;
}

.skills {
    background-color: #1F1D2C;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.skills-tittle {
    font-size: 32px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 1rem;
    position: relative;
    width: 100%;
    z-index: 3;
}

.skills-grid {
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 3rem;
    position: relative;
    column-gap: 6rem;
    row-gap: 1rem;
    margin-left: 4rem;
}

.number-percentage {
    font-size: 32px;
    font-weight: 600;
    color: #f1a600;
}

.text-skills {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.vector4 {
    position: absolute;
    top: 0;
    left: 0;
}

.vector4-4 {
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0;
}

.myportfolio {
    background-color: #1F1D2C;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.portfolio-tittle {
    font-size: 32px;
    color: #fff;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.portfolio {
    color: #fff;
    position: relative;
    padding: 1rem;
    font-weight: 600;
    z-index: 3;
}

.portfolio-img {
    width: 250px;
    height: 200px;
}

.rectangle-yellow1 {
    background-color: #f1a600;
    width: 270px;
    height: 200px;
    position: absolute;
    margin-left: 0.5rem;
    z-index: 1;
    margin-top: 9rem;
}

.portfolio-img2 {
    width: 250px;
    height: 200px;
    margin-left: 16rem;
}

.portfolio-text2 {
    margin-left: 17rem;
}

.rectangle-grey {
    background-color: #242635;
    width: 270px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: 23.5rem;
    margin-left: 16.5rem;
}

.rectangle-yellow2 {
    background-color: #f1a600;
    width: 267px;
    height: 200px;
    position: absolute;
    margin-left: 0.5rem;
    z-index: 1;
    top: 38rem;
}


.contact {
    background-color: #242635;
    width: 100%;
    height: 100%;
    color: #fff;
}

.contact-tittle {
    font-size: 32px;
    color: #fff;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 3rem;
}


.phone {
    text-align: center;
    margin-right: 35%;
}

.email {
    text-align: center;
    margin-left: 23%;
    position: relative;
    bottom: 3rem;
}

.text-contact {
    font-size: 18px;
    font-weight: 600;
}

@media (min-width: 600px){
    label{
        display: none;
    }

    input#menu-hamburguesa ~ ul {
        position: static;
        display: flex;
        background-color: transparent;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
    }

    h1 {
        font-size: 150px;
        font-weight: 600;
    }

    .menu { 
        display: flex;
        width: 70%;
        justify-content: space-around; 
    }

    .vector1{
        visibility: hidden;
    }

    .vector1-1 {
        position: absolute;
        right: 0;
        visibility: visible;
        top: 0;
    }

    .main img {
        width: 400px;
        height: 400px;
    }

    .about-tittle {
        font-size: 50px;
        font-weight: 600;
    }

    .about p {
        text-align: center;
        color: #fff;
        padding: 1rem;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .experience-tittle {
        font-size: 50px;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .vector3 {
        position: absolute;
        right: 25rem;
        top: 27%;
    }

    .experience-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-left: 30%;
        margin-right: 24%;
        grid-column-gap: 2rem;
        margin-bottom: 2rem;
    }

    
    .skills-tittle {
        font-size: 50px;
        padding-right: 38rem; 
    }
    
    .portfolio-tittle {
        font-size: 50px;
        color: #fff;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 5rem;
    }
    
    .vector4 {
        visibility: hidden;
    }

    .vector4-4 {
        visibility: visible;
        top: 0;
        left: 0;
    }

    .portfolio-section1 {
        margin-left: 24.5%;
    }

    .rectangle-yellow1 {
        top: 2rem;
        margin-left: 24%;
    }

    .portfolio-section2 {
        margin-left: 30%;
    }

    .rectangle-grey {
        top: 24.5rem;
        margin-left: 47%;
    }

    .portfolio-section3 {
        margin-left: 24.5%;
    }
    
    .rectangle-yellow2 {
        margin-top: 1rem;
        margin-left: 24%;
    }

    .contact-tittle {
        font-size: 50px;
        font-weight: 600;
    }
}
